<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luosen.demo.dao.UserinfoDao">
	<select id="findByUid" resultType="Userinfo">
		select*from userinfo where u_id=#{u_id}
	</select>
	<select id="findByUname" resultType="Userinfo">
		select*from userinfo where u_name=#{u_name}
	</select>
	<insert id="create">
		insert into userinfo values (null,#{u_name},#{u_password},
		#{u_addr},#{u_sex},#{u_createDate})
	</insert>
	<update id="modify">
		update userinfo set u_name=#{u_name},u_password=#{u_password},u_addr=#{u_addr},
		u_sex=#{u_sex} where u_id=#{u_id}
	</update>
	<update id="modifyPassword">
		update userinfo set u_password=#{u_password} where u_id=#{u_id}
	</update>
</mapper>